body{
  font-family: 'Titillium Web', sans-serif;
}

.timeline-wrapper{
  position: relative;
}

ul.timeline{
  position: relative;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

ul .timeline-line{
  border-top: 2px solid #ddd;
  width: 100%;
  position: absolute;
}

li.li{
  transition: all 200ms ease-in;
  position: absolute;
  top: -45px;
  min-width: 80px;
}

.time{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  margin-bottom: 4px;
}

.status{
  display: flex;
  justify-content: center;
  position: relative;
  transition: all 200ms ease-in;
  padding-top: 5px;
}

.debit-icon{
  height: 45px;
  width: 45px;
  background: #ddd;
  border-radius: 50%;
  transition: all 200ms ease-in;
  margin: 0 auto;
}

li.complete .debit-icon{
  background: #67dc71;
}

li.fail .debit-icon{
  background: #ff6e6e;
}

.debit-icon i{
  font-size: 21px;
  line-height: 2.2;
  text-align: center;
  width: 100%;
  color: #fff;
}

a.pop-hover{
  width: 200px;
  height: auto;
}

.success-line{
  position: absolute;
  border: 2px solid green;
}

.mr5{
  margin-right: 5px;
}
